src/main/resources/risposta_protocolla_arrivo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- RISPOSTA DI PROTOCOLLAZIONE_ARRIVO -->
    <xs:element name="protocollo">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="numero" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
          <xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1"/><!--dd-MM-yyyy-->
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:schema>