src/main/resources/WebRainbow.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-2b01  svn-revision#13122. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-2b01  svn-revision#13122. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://protocollo.webservice.wr.peng.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://protocollo.webservice.wr.peng.it/" name="Protocol">
<wsp:Policy wsu:Id="ProtocolWebServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://protocollo.webservice.wr.peng.it/" schemaLocation="http://wr4zerotest.websanita.intra.rve:80/WebRainbow/Protocol?xsd=1"/>
</xsd:schema>
</types>
<message name="creaProtocolloInUscita">
<part name="parameters" element="tns:creaProtocolloInUscita"/>
</message>
<message name="creaProtocolloInUscitaResponse">
<part name="parameters" element="tns:creaProtocolloInUscitaResponse"/>
</message>
<message name="creaProtocolloInEntrata">
<part name="parameters" element="tns:creaProtocolloInEntrata"/>
</message>
<message name="creaProtocolloInEntrataResponse">
<part name="parameters" element="tns:creaProtocolloInEntrataResponse"/>
</message>
<message name="getProtocollo">
<part name="parameters" element="tns:getProtocollo"/>
</message>
<message name="getProtocolloResponse">
<part name="parameters" element="tns:getProtocolloResponse"/>
</message>
<message name="WebServiceException">
<part name="fault" element="tns:WebServiceException"/>
</message>
<message name="getDocumentoPrincipale">
<part name="parameters" element="tns:getDocumentoPrincipale"/>
</message>
<message name="getDocumentoPrincipaleResponse">
<part name="parameters" element="tns:getDocumentoPrincipaleResponse"/>
</message>
<message name="getAllegati">
<part name="parameters" element="tns:getAllegati"/>
</message>
<message name="getAllegatiResponse">
<part name="parameters" element="tns:getAllegatiResponse"/>
</message>
<message name="getRicevutePEC">
<part name="parameters" element="tns:getRicevutePEC"/>
</message>
<message name="getRicevutePECResponse">
<part name="parameters" element="tns:getRicevutePECResponse"/>
</message>
<message name="getStatoPEC">
<part name="parameters" element="tns:getStatoPEC"/>
</message>
<message name="getStatoPECResponse">
<part name="parameters" element="tns:getStatoPECResponse"/>
</message>
<message name="trasmettiPEC">
<part name="parameters" element="tns:trasmettiPEC"/>
</message>
<message name="trasmettiPECResponse">
<part name="parameters" element="tns:trasmettiPECResponse"/>
</message>
<portType name="ProtocolWebService">
<operation name="creaProtocolloInUscita">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/creaProtocolloInUscitaRequest" message="tns:creaProtocolloInUscita"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/creaProtocolloInUscitaResponse" message="tns:creaProtocolloInUscitaResponse"/>
</operation>
<operation name="creaProtocolloInEntrata">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/creaProtocolloInEntrataRequest" message="tns:creaProtocolloInEntrata"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/creaProtocolloInEntrataResponse" message="tns:creaProtocolloInEntrataResponse"/>
</operation>
<operation name="getProtocollo">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getProtocolloRequest" message="tns:getProtocollo"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getProtocolloResponse" message="tns:getProtocolloResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getProtocollo/Fault/WebServiceException"/>
</operation>
<operation name="getDocumentoPrincipale">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getDocumentoPrincipaleRequest" message="tns:getDocumentoPrincipale"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getDocumentoPrincipaleResponse" message="tns:getDocumentoPrincipaleResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getDocumentoPrincipale/Fault/WebServiceException"/>
</operation>
<operation name="getAllegati">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getAllegatiRequest" message="tns:getAllegati"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getAllegatiResponse" message="tns:getAllegatiResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getAllegati/Fault/WebServiceException"/>
</operation>
<operation name="getRicevutePEC">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getRicevutePECRequest" message="tns:getRicevutePEC"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getRicevutePECResponse" message="tns:getRicevutePECResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getRicevutePEC/Fault/WebServiceException"/>
</operation>
<operation name="getStatoPEC">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getStatoPECRequest" message="tns:getStatoPEC"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getStatoPECResponse" message="tns:getStatoPECResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/getStatoPEC/Fault/WebServiceException"/>
</operation>
<operation name="trasmettiPEC">
<input wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/trasmettiPECRequest" message="tns:trasmettiPEC"/>
<output wsam:Action="http://protocollo.webservice.wr.peng.it/ProtocolWebService/trasmettiPECResponse" message="tns:trasmettiPECResponse"/>
</operation>
</portType>
<binding name="ProtocolWebServicePortBinding" type="tns:ProtocolWebService">
<wsp:PolicyReference URI="#ProtocolWebServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="creaProtocolloInUscita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaProtocolloInEntrata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProtocollo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getDocumentoPrincipale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAllegati">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getRicevutePEC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getStatoPEC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="trasmettiPEC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Protocol">
<port name="ProtocolWebServicePort" binding="tns:ProtocolWebServicePortBinding">
<soap:address location="http://wr4zerotest.websanita.intra.rve:80/WebRainbow/Protocol"/>
</port>
</service>
</definitions>